.header-custom-style {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar a {
    text-decoration: none;
    padding-left: 10px;
    font-size: 19px;
    color: black;
}

.nav-bar {
    /* background-color: rgb(220, 250, 255); */
}